/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: black;
}


body {
  font-family: 'Cairo', sans-serif;
}

.my-container {
  max-width: 100vw;
  padding-inline: calc(var(--spacing) * 20);
  margin-inline: auto;
}